.container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 750px));
	background-color: black;
	justify-content: center;
}
.container > div {
	background-color: #001A6F;
	border: 2vw solid black;
	text-align: center;
	padding: 30px;
	
}
#image {
	max-height: 100%;
	max-width: 100%;
}
.fill{
	display: block;
	height: auto;
	width: auto;
	text-decoration: none;
	font-family: "Michroma", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 30px;
	color: white;
}