#menubar{
	list-style-type: none;
	display: block;
	overflow: hidden;
	background-color: #001A6F;
}

h1{
	font-family: "Michroma", arial;
	font-size: 40px;
	color: white;
}

h2 {
	font-family: "Michroma", arial;
	font-size: 30px;
	color: white;
}
a p {
	transition: 0.3s;
}

a h2 {
	transition: 0.3s;
}
a p:hover {
	color: yellow;
}

a h2:hover {
	color: yellow;
}

p {
	font-family: "Michroma", arial;
	color: white;
	font-size: 20px;
}
body {
	background-color: black;
}
.topmenu {	
	overflow: hidden;
	background-color: #001A6F;
	padding: 10px;
	position: relative;
}
.topmenu a {
	font-family: "Michroma", arial;
	font-size: 30px;
	color: white;
}
.topmenu #menusdesktop {
	display: inline;
	padding 0px;
}

.topmenu #menudesktopitem {
	display: inline;
}
.topmenu #menudesktopitem a:hover{
	color: yellow;
}
.topmenu #menudesktopitem a:active {
	color: yellow;
}
.topmenu #menudesktopitem a {
	padding: 10px;
	transition: 0.3s;
}

.mobilehome {
	display: none;
}

.topmenu .menus {
	display: none;
}

.mobilemenu {
	display: none;
}

#important {
	font-family: "Michroma", arial;
	font-weight: bold;
	color: red;
	font-size: 20px;
}
#mobilemenus {
	display: inline;
}

@media screen and (max-width: 600px){
	.topmenu #menusdesktop { display: none; }
	.topmenu .mobilemenu { position: absolute;
				  right: 0;
				  top: 0; }
	.mobilemenu { display: block; }
	.mobilehome { display: inline; overflow: hidden;
	position: relative; }
}
